<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

  .coantent{
    color: #212121;
  }

  .p-header {
    color: ;
  }

  .message-content {
    font-family: 'Roboto Slab', serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;

  }

  a{
    //font-weight: 600;
    margin: 50px 0px;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
  }

  strong {
   font-weight: 600;
  }

  a:hover{
    cursor: pointer;
  }
</style>

<div class="message-content">
  <p class="p-header">Olá, {{name}}</p>
<div class="content">
    <p>Uma solicitação para redefinição de senha foi solicitada.</p>
    <p>Caso tenha sido você, clique no botão abaixo para redefinir uma nova senha.</p>
    <p>
    <a href="{{link}}">Redefinir Senha</a>
  </p>
</div>
  <p>Se não foi você, apenas descarte este email.</p>
  <p class="p-footer">
    Obrigado por utilizar nossos serviços
    <br>
    <strong>
      Equipe GoBarber
    </strong>
  </p>
</div>
